<!DOCTYPE html>
<html>
<head>
  <!-- <title>Kapil</title>
  <%#= stylesheet_link_tag    "application" %>
  <%#= javascript_include_tag "application" %>
  <%= csrf_meta_tags %> -->
</head>
<body>
<!-- <h1>Kapil</h1> -->
<%byebug%>
<a href = 'https://github.com/login/oauth/authorize?client_id=<%=@client_id%>&scope=repo&allow_signup=false'>Take me to github</a>
</body>
</html>
